{% extends "layout.html" %}

{% macro render_field(field) %}
{% if field.type != 'CSRFTokenField' %}
<div class="form-group {% if field.errors %}has-error{% endif %}">
    {{ field.label(class='col-sm-3 control-label') }}
    <div class="col-sm-9 input-group">
        {% if field.type == 'RadioField' %}
        {% for subfield in field %}
        <div class="radio">
            <label>
                {{ subfield|safe }}
                <strong>{{ subfield.data.title() }}:</strong> {{ subfield.label.text }}
            </label>
        </div>
        {% endfor %}
        {% else %}
        {{ field(class="form-control")|safe }}
        {% endif %}
    </div>
    {% if field.errors %}
    <div class="help-block">
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% else %}
{{ field }}
{% endif %}
{% endmacro %}

{% block body_container %}
<div class="jumbotron">
    <p>
        {% block form_leader %}
        {% endblock %}
    </p>
</div>

<div class="container">
    <h4>{% block form_title %}{% endblock %}</h4>
    <form class="form-horizontal" method="post" action="">
        {% for field in form %}
        {{ render_field(field) }}
        {% endfor %}
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <input type="submit" class="btn btn-primary" value="{% block form_submit %}{% endblock %}">
            </div>
        </div>
    </form>
</div>
{% endblock %}
