<p>Your requested user account <tt>{{ username }}</tt> was successfully created.</p>
<p>An email has been sent to <tt>{{ email }}</tt> to confirm that you control this email address.</p>
<p>Click on the confirmation link, and you will be able to sign in on the <a href="{{ gitlab_root }}" class="alert-link">GitLab instance.</a></p>
